body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    color: #ffffff;
    background-color: #402E24;
    border: none;
    border: 2px solid #f5f3f1;
    border-radius: 10px;
    font-size: 1rem;
    width: 100px;
    cursor: pointer;
}

.navBar {
    position: fixed;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.4);
    z-index: 1000;
}

.navBar a{
    text-decoration: none;
    color: black;
}

.navBar h1{
    margin: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}

input{
    width: 200px;
    height: 25px;
    background-color: #997f70;
    border-radius: 15px;
    padding-left: 8px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-image: url(./img/loginCadastro.jpg);
}

.container{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 50%;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: rgba(140, 113, 90, 0.95);
    border: 5px solid #402E24;
    opacity: 1;
    transition: 1s;
    border-radius: 70px;
    box-shadow: 5px 10px 5px rgb(32, 31, 31);
}

.dados-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.dados-login a{
    color: black;
}

.dados-login a:hover{
    color: white;
}

.dados-login h1{
    font-size: 3.5rem;
    border-bottom: 2px solid;
    margin: 0;
}

.login-to-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: #735645;
    border: 5px solid #402E24;
    border-radius: 14px;
    box-shadow: 10px 5px 5px rgb(32, 31, 31);
    padding: 35px;
}

.cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(140, 113, 90, 0.95);
    border: 5px solid #402E24;
    opacity: 0;
    transition: 1s;
    border-radius: 70px;
    box-shadow: 10px 10px 10px rgb(32, 31, 31);
}

.dados-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.dados-cadastro h1{
    font-size: 3rem;
    border-bottom: 2px solid;
    margin: 0;
}

.cadastro-to-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: #735645;
    border: 5px solid #402E24;
    border-radius: 14px;
    box-shadow: -15px 10px 10px rgb(32, 31, 31);
    padding: 35px;
}
