body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 50%;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: red;
}

.dados-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.login-to-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: blue;
}

.cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blue;
}

.dados-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.cadastro-to-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: red;
}