@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #BFAE99;
    color: white;
    position: relative;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #59493B;
    border-radius: 20px;
    color: white;
}
header div{
    display: flex;
    margin-left: 90px;
}

header a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: 25px;
    padding: 3px;
    display: flex;
}

header img{
    width: 25px;
    height: 25px;
}

header span{
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
}

header a:hover{
    background-color: rgb(88, 88, 81);
    border-radius: 5px;
    box-shadow: 2px 2px;
}

#perfil a{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-evenly;
}

#colunaUm{
    background-color: #A68F7B;
    margin-top: 20px;
    display: flex;
    width: 20%;
    height: 84vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 15px;
}

#colunaUm div{
    width: 90%;
    background-color: #59493B;
    border-radius: 25px;
    height: 120px;
    border: 1px solid;
    text-align: center;
}

#colunaDois{
    background-color: #A68F7B;
    margin-top: 20px;
    display: flex;
    width: 74%;
    height: 84vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 15px;
}

#secaoUm{
    display: flex;
    flex-direction: column;
}

#secaoUm canvas {
    background-color: transparent;
    width: 500px;
    height: 300px;
}

#secaoDois{
    display: flex;
}

h3,h2{
    color: black;
    text-align: center;
}