body{
    background-color: rgb(26, 30, 33);
    color: white;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 42, 46);
    border-radius: 20px;
}
header div{
    display: flex;
}

header a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: 25px;
    padding: 3px;
    display: flex;
}

header img{
    width: 25px;
    height: 25px;
}

header span{
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
}

header a:hover{
    background-color: rgb(88, 88, 81);
    border-radius: 5px;
    box-shadow: 2px 2px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.posts_container{
    background-color: rgb(26, 30, 33);
    width: 100vh;
    border-radius: 20px;
}

.lateral_container{
    background-color: rgb(36, 42, 46);
    width: 35vh;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 300px;
    margin-bottom: 20px;
}

.post{
    width: 100%;
    background-color: rgb(46, 53, 57);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.post *{
    margin:0;
    padding: 5px;
}

.post div{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.post img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.post span{
    display: flex;
}
.post button{
    width: 200px;
    height: 40px;
    align-self: center;
    margin-right: 10px;
    background-color: rgb(95, 81, 33);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

textarea{
    width: 100%;
    background-color: rgb(47, 53, 56);
    color: white;
    border-radius: 5px;
    
}

#textarea_titulo{
    height: 20px;
}

#post_inputs{
    width: 30%;
    align-self: flex-start;
}

#post_inputs input, #post_inputs select{
    background-color: rgb(48, 53, 56);
    color: white;
    border-radius: 5px;
    height: 30px;
}

#comentarios_curtidas{
    display: flex;
    flex-direction: row;
}

#post_aberto{
    position: absolute;
    top: 11%;
    left: 0;
    background-color: rgb(46, 53, 57);
    width: 86%;
    height: 83vh;
    max-height: 83vh;
    border-radius: 25px;
    padding: 15px 100px;
    overflow: auto;
    display: none;
}

#post_aberto img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

#post_aberto div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}