
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #BFAE99;
    color: black;
    position: relative;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    width: 100px;
    border-radius: 20px;
    background-color: #59493B;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #59493B;
    border-radius: 20px;
    color: white;
}

header div {
    display: flex;
    margin-left: 90px;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: 25px;
    padding: 3px;
    display: flex;
}

header img {
    width: 25px;
    height: 25px;
}

header span {
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
}

header a:hover {
    background-color: rgb(88, 88, 81);
    border-radius: 5px;
    box-shadow: 2px 2px;
}

#perfil a{
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.posts_container {
    background-color: #BFAE99;
    width: 102vh;
    border-radius: 20px;
    overflow: auto;
    max-height: 86vh;
}

.lateral_container {
    background-color: #A68F7B;
    width: 35vh;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid;
}

#topicos_em_alta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topicos_em_alta p {
    width: 50%;
    border-radius: 5px;
    margin: 10px;
}

.post {
    width: 96%;
    background-color: #F2E9D8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    border: 1px solid;
}

.post * {
    margin: 0;
    padding: 3.2px;
}

.post div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.post img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.post span {
    display: flex;
}

.post button {
    width: 200px;
    height: 40px;
    align-self: center;
    margin-right: 10px;
    background-color: rgb(95, 81, 33);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.post h2 {
    position: absolute;
    font-size: 22px;
    left: 10%;
}

.post h3{
    position: absolute;
    top: 10px;
    right: 10px;
}

textarea {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#textarea_titulo {
    height: 20px;
}

#post_inputs {
    width: 20%;
    align-self: center;
}

#post_inputs textarea {
    width: 95%;
    height: 75px;
}

#post_inputs input,
#post_inputs select {
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 30px;
}

#comentarios_curtidas {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
}

#post_aberto {
    position: absolute;
    top: 9%;
    left: 8%;
    background-color: #F2E9D8;
    width: 70%;
    height: 83vh;
    max-height: 83vh;
    border: solid 1px;
    border-radius: 25px;
    padding: 15px 100px;
    overflow: auto;
}

#post_aberto img {
    width: 30px;
    height: 30px;
}

#post_aberto div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#post_aberto p {
    display: flex;
    justify-self: center;
    align-items: center;
}

#conteudoPost{
    flex-direction: column;
    position: relative;
}

#conteudoPost span{
    position: absolute;
    top: 35px;
    right: 0;
}

#conteudoPostAberto{
    width: 70%;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    word-wrap: break-word;
}

#meus_posts {
    overflow: auto;
}

#comentariosDoPost {
    flex-direction: column;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

#categoria_p {
    background-color: rgba(191, 174, 153, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    border-bottom: 2px solid black;
    padding: 2px;
}

#categoria_p img {
    margin-left: 10px;
}
#categorias_tags{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}

#categorias_tags img{
    width: 20px;
    height: 20px;
}

.paragrafo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias_tags{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post img.imagem {
    width: 20px;
    height: 20px;
}

#fechar {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    width: 25px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#cadastroFoto {
    position: absolute;
    right: 25px;
    top: 50px;
    width: 200px;
    height: 100px;
    background-color: #BFAE99;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px;
    z-index: 1000;
}

#data {
    position: absolute;
    right: 10px;
    top: 5px;
}

#sites {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sites h2{
    margin-top: 0;
}

.linksUteis {
    text-decoration: none;
    color: black;
}

.linksUteis div {
    background-color: rgba(191, 174, 153, 0.5);
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.linksUteis img {
    width: 30px;
    margin-left: 20px;
}

#tags_em_alta {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#tags_em_alta p {
    width: 96%;
    display: flex;
    align-items: center;
    margin: 5px;
    align-self: flex-start;
    background-color: rgba(191, 174, 153, 0.5);
    border-radius: 25px;
    border-bottom: 2px solid black;
    padding: 2px;
}

#tags_em_alta img {
    width: 30px;
    border-radius: 25px;
    margin-left: 10px;
}

#textComentario{
    margin-bottom: 50px;
}