body{
    background-color: rgb(26, 30, 33);
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 42, 46);
    border-radius: 20px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.posts_container{
    background-color: rgb(36, 42, 46);
    width: 110vh;
    border-radius: 20px;
    padding: 20px;
}

.lateral_container{
    background-color: rgb(36, 42, 46);
    width: 30vh;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}