body{
    background-color: rgb(26, 30, 33);
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 42, 46);
    border-radius: 20px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.posts_container{
    background-color: rgb(26, 30, 33);
    width: 100vh;
    border-radius: 20px;
}

.lateral_container{
    background-color: rgb(36, 42, 46);
    width: 35vh;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 280px;
    margin-bottom: 20px;
}

.post{
    width: 100%;
    background-color: rgb(46, 53, 57);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post *{
    margin:0;
    padding: 5px;
}

.post div{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.post img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.post span{
    display: flex;
}
.post button{
    width: 200px;
    height: 40px;
    align-self: center;
    margin-right: 10px;
    background-color: rgb(95, 81, 33);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

textarea{
    width: 100%;
    background-color: rgb(47, 53, 56);
    color: white;
    border-radius: 5px;
    border-color: white;
}

#textarea_titulo{
    height: 20px;
}

#post_inputs{
    width: 30%;
    align-self: flex-start;
}

#post_inputs input, #post_inputs select{
    background-color: rgb(48, 53, 56);
    color: white;
    border-radius: 5px;
    height: 30px;
}

#comentarios_curtidas{
    display: flex;
    flex-direction: row;
}