@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    background-color: rgb(26, 30, 33);
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: #ebf566;
    font-size: 1rem;
}

h1{
    color: #ebf566;
    font-size: 3rem;
    border-bottom: 1px solid;
}

/*Barra de Navegação*/
.navBar {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 0;
    height: 50px;
    background-color: rgba(56, 56, 56, 0.4);
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
}

.navA{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3rem;
    border-bottom: 2px solid;
    color:rgb(255, 255, 255);
    margin-left: 20px;
}

#container-conta{
    margin-right: 10px;
}

#conta{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3rem;
    border-bottom: 2px solid;
    color:#ebf566;
    margin-right: 5px;
}

.navBar h2{
    color: white;
    margin-left: 30px;
}


/*Seção Pai - MAIN*/

main {
    display: flex;
    position: relative;
}

/*Conteudo Main*/

.conteudoMain {
    position: absolute;
    width: 100%;
    top: 20%;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(56, 56, 56, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoMain h2, .conteudoMain p{
    width: 50%;
}

.conteudoMain h2{
    font-family: sans-serif;
    color: #ebf566;
    font-size: 1.1rem;
}

.conteudoMain p{
    margin-top: 0;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}


/* Seção Filho - Jornada*/

#bntJornada{
    position: absolute;
    left: 18%;
    top: 670px;
    z-index: 10;
    color: rgb(252, 237, 178);
    background-color: transparent;
    border: none;
    transition: 1s;
    font-size: 2rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#bntJornada:hover{
    color: yellow;
    cursor: pointer;
}

.mainDiv,.divDois{
    width: 100%;
}

.mainDiv div {
    position: absolute;
    width: 25%;
    left: 12%;
    top: 20%;
    z-index: 2;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.mainDiv h2 {
    position: absolute;
    top: -20%;
    width: 50vh;
    z-index: 3;
    color: rgb(255, 255, 255);
}

.mainDiv img {
    width: 100%;
    transition: 0.5s;
    position: relative;
    filter: brightness(60%);
}

/* Seção Filho - Bíblia*/

#bntBiblia{
    position: absolute;
    right: 20%;
    top: 670px;
    z-index: 10;
    color: rgb(252, 237, 178);
    background-color: transparent;
    border: none;
    transition: 1s;
    font-size: 2rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#bntBiblia:hover{
    color: rgb(100, 36, 11);
    cursor: pointer;
}
.divDois h2 {
    position: absolute;
    width: 50vh;
    top: -20%;
    z-index: 3;
    color: rgb(255, 255, 255);
}

.divDois div {
    position: absolute;
    width: 25%;
    right: 12%;
    top: 20%;
    z-index: 2;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.divDois img {
    width: 100%;
    transition: 0.5s;
    position: relative;
    filter: brightness(60%);
}

/*Section*/

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-titulo{
    margin: 0;
    margin-bottom: 30px;
    color: white; 
    font-size: 5rem;
}

.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container-um{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 50px;
    position: relative;
}

.section-container-um img{
    width: 500px;
}

.section-mensagem{
    width: 45%;
    color: white;
}

.section-mensagem h2{
    border-bottom: 2px solid;
}

.section-mensagem-number-um{
    position: absolute;
    top: -50px;
    left: -50px;
    font-size: 7rem;
    color: rgba(190, 178, 178, 0.2);
}

.section-mensagem-number-dois{
    position: absolute;
    top: -50px;
    right: 36%;
    font-size: 7rem;
    color: rgba(190, 178, 178, 0.2);
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(22, 23, 24);
    border-top: 1px solid white;
    margin-top: 20px;
}

footer div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer div h1{
    color: rgb(163, 160, 148);
    border-bottom: 1px solid;
}

footer div p{
    color: rgb(255, 255, 255);
}

footer a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}

footer img{
    width: 20px;
}

.contatos a{
    margin:0
}

.contatos{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
