body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    background-color: rgb(26, 30, 33);
    color: white;
}

.navBar {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 0;
    height: 50px;
    background-color: rgba(56, 56, 56, 0.4);
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
}

.navA{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3rem;
    border-bottom: 2px solid;
    color:rgb(255, 255, 255);
    margin-left: 20px;
}


#container-conta{
    margin-right: 10px;
}

#conta{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3rem;
    border-bottom: 2px solid;
    color:#ebf566;
    margin-right: 5px;
}

.navBar h2{
    color: white;
    margin-left: 30px;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobremim{
    background-color: rgb(41, 47, 51);
    width: 50%;
    padding: 50px;
    border-radius: 25px;
}

#sobremim img{
    width: 100px;
    border-radius: 25px;
}

#nomeImg{
    display: flex;
    justify-content: space-between;
}